/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    /*background-color: #FFE5F1;*/
    background-color: #C0D6E7;
}

h1 {
    /* color: #ABA2F9; */
    color: #2E3565;
    font-family: 'Beth Ellen', sans-serif;
    font-size: 3rem;
    margin: 0;
}

h3 {
    /* color: #ABA2F9; */
    color: #2E3565;
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}

/* Used in Games */ 
h4 {
    font-size: 7vw;
    margin: 0;
    line-height: 7vw;
    color: #FDFFE9;
    /*
    color: #ABA2F9;
    text-shadow: 0.5vw 0.5vw #FFE5F1;
    */
}

/* Used in Hackathon */
h5 {
    font-size: 1.5rem;
    margin: 0;
}

img {
    user-select: none;
}

.cloud {
    position: absolute;
}

.footer {
    /*background-color: #ABA2F9;*/
    background-color: #2E3565;
    height: 175px;
    padding: 25px 0;
}

.footer-content {
    /*color: #FEF8E3;*/
    color: #FDFFE9;
    display: flex;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    justify-content: center;
    margin: 30px 0;
}

.footer-content a {
    text-decoration: none;
    /*color: #FEF8E3;*/
    color: #FDFFE9;
}

.footer-logo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}

.footer-logo{
    width: 40px;
}

.footer-logo img{
    /*width: 3vw;*/
    width: 40px;
}

.games-body {
    /*background-color: #C0DEFF;*/
    background-color: #D98897;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.games-button {
    /* color: #ABA2F9; */
    color: #D98897;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', sans-serif;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 31px;
    /* background-color: #FFE5F1; */
    background-color: #FDFFE9;
    position: relative;
    bottom: 35px;
    border: none;
    margin: 3px;
}

.games-button:hover {
    /* background-color: #FEF8E3; */
    color: #FDFFE9;
    background-color: #D98897;
    margin: 0;
    border: 3px solid #FDFFE9;
}

.games-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    text-decoration: none;
}

.games-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.games-tile {
    width: 50vw;
    font-family: 'Bakbak One', sans-serif;
}

.hackathon-body {
    padding: 4rem 0;
    /*background-color: #FFE5F1;*/
    background-color: #C0D6E7;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
    flex-wrap: wrap;
}

.hackathon-tile {
    /*
    color: #ABA2F9;
    background-color: #FEF8E3;
    font-family: 'Inconsolata', sans-serif;
    */
    color: #2E3565;
    background-color: #FDFFE9;
    font-family: 'Bakbak One', sans-serif;
    text-align: center;
    border-radius: 3rem;
    padding: 2rem 1rem;
}

.hackathon-tile:hover {
    color: #FDFFE9;
    background-color:#D98897;
}

.hackathon-tile h2 {
    font-size: 2.5rem;
    margin: 0.75rem;
}

.hackathon-tile img {
    width: 12rem;
}

.heading {
    /* background-color: #FFE5F1; */
    background-color: #C0D6E7;
    text-align: center;
    padding-bottom: 50px;
}

.heading-text {
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon {
    background-color: none;
    border-radius: 20px;
    height: 40px;
    left: 1vw;
    margin: 12;
    position: absolute;
}

.icon img {
    border-radius: 20px;
    height: 40px;
}

.icon:hover{
    /*background-color: #FFE5F1;*/
    background-color: #D98897;
}

.navbar {
    /* background-color: #C0DEFF;*/

    height: 64px;
    padding-right: 2rem;
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.nav-button {
    align-items: center;
    background-color: none;
    border-radius: 25px;
    /*color: #ABA2F9;*/
    color: #FDFFE9;
    display: flex;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    height: 30px;
    justify-content: center;
    padding: 0.5rem 1.5rem;
}

.nav-button:hover {
    /*background-color: #FFE5F1;*/
    background-color: #FDFFE9;
    color: #2E3565;
}

.skills-body {
    /*background-color: #C0DEFF;*/
    background-color: #D98897;
    padding: 2.25rem 0;
    text-align: center;
}

.skills-body h1 {
    font-family: 'Bakbak One', sans-serif;
    font-size: 3rem;
    color: #FDFFE9;
    /* text-shadow: 0.25rem 0.25rem #FFE5F1; */
    margin: 0;
}

.skills-body h2 {
    /* color: #ABA2F9; */
    color: #FDFFE9;
    font-family: 'Bakbak One', sans-serif;
    font-size: 1.75rem;
    text-align: left;
    margin: 0;
    line-height: 3rem;
}

.skills-body p {
    /* color: #ABA2F9; */
    color: #2E3565;
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: left;
    margin: 0;
}

.skills-row{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: auto;
}

.skills-row img{
    display: block;
    width: 25%;
    float: left;
    margin-right: 1.25rem;
}