@media (max-width: 1500px) {
    .welcome-icons {
        visibility: hidden;
    }
    .directory-item {
        flex-direction: column !important;
    }
}

.welcome {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro {
    color: var(--dark);
    font-family: Montserrat;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 112.9%; /* 5.0805rem */
    white-space: nowrap;
    margin-right: 20px;
}

.welcome-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.welcome-icons img{
    flex-basis: 170px;
    max-width: 170px;
    flex-shrink: 1;
}

.directory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10rem;
    gap: 6rem;
}

.directory-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    gap: 2rem;
}

.directory-item article {
    background-color: var(--primary);
    border-radius: 10px;
    width: 462px;
    height: 256px;
    flex-shrink: 0;
    text-align: center;
    color: var(--light);
    padding-top: 0.75rem;
}

.directory-item article:hover {
    text-decoration: var(--light) underline;
}

.directory-item aside h3 {
    color: var(--dark);
    margin-top: 0.3rem;
}

.directory-item aside h3:hover {
    text-decoration: var(--dark) underline;
}

.directory-item aside p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
}
